header{
color: white;
background: #231038;
text-align: center;
height: 90px;
}
body{
  background-image: url(img/fondo1.jpg);

}

/* -----Destacados----- */

section.destacados{
  margin-top: 55px;
}
section div.destacados{
font-family: 'Playfair Display', serif;
color: WHITE;
background: #716286;
padding-bottom: 50PX;
border-radius: 10px;
}
h2.home{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
h4.home{
  font-size: 20px;
  margin-top: 15px;
}
div.imagen{
  display: flex;
  justify-content: center;
}
div.p-2.destacados{
  font-size: 25px;
  display: inline-block;
  background-color:#231038 ;
  color: white;
  font-weight: bold;
}
img.destacados{
  margin-bottom: 10px;
  width: 150px;
  border-radius: 10px;
}
article.destacados{
margin-top: 40px;
margin-bottom: 5px;
}
div.destacados-celu{
  margin-top: 30px;
}

/* -----promosiones---- */
section.promociones{
  margin-top: 50px;
}
section div.promociones{
font-family: 'Playfair Display', serif;
color: WHITE;
background: #231038;
padding: 10PX;
border-radius: 10px;
}
div.bd-example{
  border: solid 3px rgb(0, 0, 0);
}

/* ------Body-login----- */
body.bLogin{
  color: black;
}
/* ------Body-Register----- */
body.bregister{
  color: black;
}

/* -----Footer----- */
footer{
  height: 300px;
  background: #231038;
  margin-top: 60px;
  text-align: center;
  color: white;
  font-size: 150px;
  }
